.container {
  height: 700px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.home_container {
  width: 90%;
  height: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content_container {
  width: 90%;
  height: 90%;
  background-color: white;
  margin: auto;
}
#karl {
  margin-top: 10%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.photo_display {
  width: 50%;
  float: left;
  height: 100%;
}
.content_display {
  width: 50%;
  float: right;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10%;
}
h4 {
  color: #888888;
}
p {
  font-size: 12px;
}
.btnContactme {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background-color: white;
}
.btnContactme:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #922724;
  color: white;
}
.navbar_sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav {
  float: right;
}
.name_title {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}
li a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #922724;
  color: white;
}
